*{
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"]{
    float: left;
    padding: 15px;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    margin: 0;
    color: rgb(85, 80, 80);
}

header {
    overflow: hidden;
}

.logo {
    /*display: inline-block;*/
    float: left;
    font-weight: bold;
    padding: 10px;
   
}

.logo span {
    padding: 0;
    overflow: hidden;
}
.logo a {
    text-decoration: none;
    font-size: 30px;
    color: lightcoral;
}
.logo a:hover {
    font-weight: bolder;
    font-size: 32px;
}

.menu-header ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    float: right;
}
.menu-header ul li a{
   text-decoration: none;
   color: rgb(85, 80, 80);
}
.menu-header ul li a:hover {
   text-decoration: underline;
}

/*The welcome page(index) rules*/
.main-content #welcome p {
    font-weight: bolder;
    font-size: 80px;
}
.main-content #welcome p strong{
    color: lightcoral;
}

.main-content .greeting {
    font-size: 110%;
}

.main-content .greeting p strong{
    color: lightcoral;
    font-size: 130%;
}

.main-content #intervene {
    background-color: lightcoral;
    color: antiquewhite;
    padding: 5px;
    border-radius: 100px;
}

.main-content #intervene p strong{
    color:white;
}

.main-content #signup-link{
    display: inline-block;
    margin: 3px;
    padding: 10px;
    text-align: center;
}

.main-content #signup-link p strong a{
   text-decoration: none;
   font-weight: bolder;
   background-color: lightcoral;
   padding: 10px;
   border-radius: 3px;
   color: white;
}
.main-content #signup-link p strong a:hover{
   box-shadow: 1px 3px 5px #aaa;
 }

.aside {
    padding: 15px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.wrapper .main-content {
	text-align: center;
	padding: 0;
}
/*The login and signup pages' side bars*/
.wrapper .login-sidebar p{
    font-size: 120%;
}
.wrapper .login-sidebar p a{
    text-decoration: none;
    color:  lightcoral;
}
.wrapper .login-sidebar p a:hover{
    box-shadow: 5px 5px 5px #aaa;
    border: 1px solid lightcoral;
    border-radius: 5px;
}

.wrapper .login-sidebar, .signup-sidebar{
    padding: 2px;
}
.wrapper .signup-sidebar p{
    font-size: 120%;
}
.wrapper .signup-sidebar p a{
    text-decoration: none;
    color:  lightcoral;
}
.wrapper .signup-sidebar p a:hover{
    box-shadow: 5px 5px 5px #aaa;
    border: 1px solid lightcoral;
    border-radius: 5px;
}
/*The login form rules*/
.main-content #login-form {
    padding: 10px;
    box-shadow: 10px 10px 5px #aaa;
    border: 1px solid lightcoral;
}

.main-content  #signinBtn input{
    background-color: darksalmon;
    padding: 5px;
    font-weight: bold;
    box-shadow: 5px 2px 5px #aaa;
    color: azure;
    font-size: 20;
    /*width: 100px;*/
    border-radius: 5px;
}
.main-content  #signinBtn input:hover{
    background-color: rgb(149, 181, 184);
    box-shadow: 5px 5px 5px #aaa;
    color: azure;
    
}
.main-content #login-form #cancel-signin a {
    text-decoration: none;
    color: lightcoral;
}
.main-content #login-form #cancel-signin a:hover {
    color: brown;
    background-color: beige;
    box-shadow: 5px 5px 5px beige;
    padding: 10px;
}
.main-content #login-form #forgot-pwd a {
    text-decoration: none;
    color: lightcoral;
}
.main-content #login-form #forgot-pwd a:hover {
    color: brown;
    background-color: beige;
    box-shadow: 5px 5px 5px beige;
    padding: 10px;
}
/*The signup form rules*/
 .main-content #signup-form {
    padding: 40px;
    margin: 10px;
    padding: 10px;
    box-shadow: 10px 10px 5px #aaa;
    border: 1px solid lightcoral;
}

.main-content  #signupBtn input{
    background-color: darksalmon;
    padding: 5px;
    font-weight: bold;
    box-shadow: 5px 2px 5px #aaa;
    color: azure;
    font-size: 20;
    width: 100px;
    border-radius: 5px;
}
.main-content  #signupBtn input:hover{
    background-color: rgb(149, 181, 184);
    box-shadow: 5px 5px 5px #aaa;
    color: azure;
    
}
.main-content #signup-form #cancel-signup a {
    text-decoration: none;
    color: lightcoral;
}
.main-content #signup-form #cancel-signup a:hover {
    color: brown;
    background-color: beige;
    box-shadow: 5px 5px 5px beige;
    padding: 10px;
}


footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    /*margin-top:0%;*/
    overflow: hidden;
    /*background-color: rgba(243, 243, 243, 0.904);*/
    color: antiquewhite;
    /*height: 100%;*/
}

footer .footer-upper {
    text-align: center;
    background-color: lightcoral;
}
footer .footer-lower {
    text-align: left;
    background-color: rgb(233, 117, 117);
}
footer .footer-upper, .footer-lower{
	padding: 1px 1px 1px 50px;
	font-size: 15px;

}

footer .footer-lower ul li {
	display: inline-block;
	text-decoration: none;
	/*float: left;*/
	padding: 1px 10px 10px 10px;
	/*color: rgb(122, 123, 124);*/
}
footer .footer-lower ul li a{
	text-decoration: none;
	font-size: 13px;
	color: antiquewhite;
}	
footer .footer-lower ul li a:hover{
	text-decoration: underline;
}
/* For mobile phones: */
[class*="col-"]{
    width: 100%;
}

@media only screen and (min-width: 600px){
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%}
    .col-s-4 {width: 33.33%}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%}
    .col-s-7 {width: 58.33%}
    .col-s-8 {width: 66.66%}
    .col-s-9 {width: 75%}
    .col-s-10 {width: 83.33%}
    .col-s-11 {width: 91.66%}
    .col-s-12 {width: 100%}
    .wrapper .signup-sidebar p{
        font-size: 20px;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%}
    .col-4 {width: 33.33%}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%}
    .col-7 {width: 58.33%}
    .col-8 {width: 66.66%}
    .col-9 {width: 75%}
    .col-10 {width: 83.33%}
    .col-11 {width: 91.66%}
    .col-12 {width: 100%}
    
}

